<!-- About-->
<section class="page-section bg-primary" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8 text-center">
              <h2 class="text-white mt-0">מי אנחנו</h2>
              <hr class="divider divider-light" />
              <p class="text-white mb-4">נעים מאוד - אורן גולן וקובי מזרחי, בשלנים בלב ובנשמה.</p>
              <p class="text-white mb-4">אנחנו מזמינים אתכם להזמין אותנו אליכם לחוויית אוכל בלתי נשכחת המבוססת על טאבון, תוך שימוש במיטב חומרי הגלם שיש לאגן הים התיכון להציע.</p>
              <p class="text-white mb-4">אנו נגיע אליכם עם כל הציוד וחומרי הגלם ונבשל לעיני האורחים אוכל טעים, טרי ומגרה</p>
              <p class="text-white mb-4">אנחנו מבטיחים חוויה מדהימה וטעימה שתשאיר לכם טעם של עוד!</p>
              <p class="text-white mb-4">שלכם ובשבילכם, <br>אורן וקובי</p>                            
          </div>
      </div>
  </div>
</section>
