<section class="page-section" id="contact">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-8 col-xl-6 text-center">
                <h2 class="mt-0">רוצים ליצור איתנו קשר ?</h2>
                <hr class="divider" />
                <p class="text-muted">לבירור פרטים נוספים, תיאום אירוע או סדנא, אנא מלאו את הטופס ונחזור אליכם בהקדם</p>
                <p class="text-muted" >אפשר גם לשלוח לנו הודעה בווטסאפ</p>
                <p class="mb-5"><a class="btn btn-success" href="https://wa.me/972543899313" target="_blank"><i class="bi bi-whatsapp"></i>&nbsp;054-38-99-313</a></p>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <div class="alert alert-success text-center" *ngIf="messageSuccess">ההודעה נשלחה בהצלחה. נחזור אלייך בהקדם</div>
                <div class="alert alert-danger text-center" *ngIf="messageFailed">אירעה שגיאה בהלך שליחת ההודעה. ניתן לנסות שוב או לחלופין לשלוח לנו הודעה בווטאספ</div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
            <div class="col-lg-6">
                <!-- * * * * * * * * * * * * * * *-->
                <!-- * * SB Forms Contact Form * *-->
                <!-- * * * * * * * * * * * * * * *-->
                <!-- This form is pre-integrated with SB Forms.-->
                <!-- To make this form functional, sign up at-->
                <!-- https://startbootstrap.com/solution/contact-forms-->
                <!-- to get an API token!-->
                <form id="contactForm" [formGroup]="contactForm" (submit)="sendMessage()">
                    <!-- Name input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" formControlName="fullName" />
                        <label for="name">שם מלא</label>
                        <div class="text-danger" *ngIf="contactForm.controls['fullName'].errors && (!contactForm.controls['fullName'].pristine || contactFormSubmitted)">חובה למלא שם</div>
                    </div>
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" type="email" placeholder="name@example.com" formControlName="emailAddress" />
                        <label for="email">כתובת אימייל</label>
                        <div class="text-danger" *ngIf="contactForm.controls['emailAddress'].errors && (!contactForm.controls['emailAddress'].pristine || contactFormSubmitted)">חובה למלא כתובת מייל</div>
                    </div>
                    <!-- Phone number input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" formControlName="phoneNumber"/>
                        <label for="phone">מספר טלפון</label>
                        <div class="text-danger" *ngIf="contactForm.controls['phoneNumber'].errors && (!contactForm.controls['phoneNumber'].pristine || contactFormSubmitted)">חובה למלא מספר טלפון.</div>
                    </div>
                    <!-- Message input-->
                    <div class="form-floating mb-3">
                        <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" formControlName="body"></textarea>
                        <label for="message">הודעה</label>
                        <div class="text-danger" *ngIf="contactForm.controls['body'].errors && (!contactForm.controls['body'].pristine || contactFormSubmitted)">חובה למלא הודעה.</div>
                    </div>
                    <!-- Submit success message-->
                    <!---->
                    <!-- This is what your users will see when the form-->
                    <!-- has successfully submitted-->
                    <div class="d-none" id="submitSuccessMessage">
                        <div class="text-center mb-3">
                            <div class="fw-bolder">ההודעה נשלחה בהצלחה!</div>
                            קילבנו את ההודעה, נחזור אליכם בהקדם
                        </div>
                    </div>
                    <!-- Submit error message-->
                    <!---->
                    <!-- This is what your users will see when there is-->
                    <!-- an error submitting the form-->
                    <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                    <!-- Submit Button-->
                    <div class="d-grid"><button [disabled]="sendingInProgress" class="btn btn-primary btn-xl" id="submitButton" type="submit">
                        <span class="spinner-border spinner-border-sm" [class.d-none]="!sendingInProgress"></span>
                        שלחו לנו הודעה</button></div>
                </form>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-4 text-center mb-5 mb-lg-0">
                <i class="bi-phone fs-2 mb-3 text-muted"></i>
                <div>054-38-99-313</div>
            </div>
        </div>
    </div>
  </section>
