<section class="page-section bg-dark" id="portfolio">
  <div class="container px-4 px-lg-5">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-header bg-primary">
            <h2 class="text-white font-weight-bold">ניהול הרשמה לסדנאות</h2>
          </div>
          <div class="card-body">
            <div class="overlay" *ngIf="saving">
              <div class="spinner-border" role="status">
                <span class="visually-hidden">שומר נתונים...</span>
              </div>
            </div>
            <div class="alert alert-success" *ngIf="saveSuccess">העדכון בוצע בהצלחה!</div>
            <div class="alert alert-danger" *ngIf="saveError">אירעה שגיאה בזמן עדכון ההרשמה</div>
            <div class="form" class="mb-5">
              <div>
                <h5 class="d-flex justify-content-between">
                  <span>רשימת משתתפים</span>
                  <div class="row g-2">
                    <div class="col-auto">
                      <select class="form-select form-select-sm" (change)="onSelectWorkshop($event)">
                        <option value="">בחירת סדנא</option>
                        <option *ngFor="let item of items" [value]="item.workshopDate">{{getWorkshopTitle(workshop, item)}}</option>
                      </select>
                    </div>
                    <div class="col-auto">
                      <button type="button" class="btn btn-sm btn-success me-3" (click)="onSubmit()">
                        <span class="bi bi-save"></span>&nbsp;שמירת שינויים
                        <span *ngIf="saving" class="spinner-border spinner-border-sm"></span>
                      </button>
                    </div>
                  </div>

                </h5>
                <table class="table">
                  <thead>
                    <tr>
                      <th>שם</th>
                      <th>טלפון</th>
                      <th>כתובת דואר</th>
                      <th>תאריך הרשמה</th>
                      <th>הרשמה מאושרת</th>
                      <th>שולם</th>
                      <th>תאריך תשלום</th>
                      <th>אמצעי תשלום</th>
                      <th>מספר אסמכתא</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="selectedSlot">
                      <tr *ngFor="let user of selectedSlot.slot.users">
                        <td *ngIf="user != editItem">{{user.fullName}}</td>
                        <td *ngIf="user != editItem">{{user.phoneNumber}}</td>
                        <td *ngIf="user != editItem">{{user.email}}</td>
                        <td *ngIf="user != editItem">{{user.regsiterationDate | date: 'yyyy-MM-dd'}}</td>
                        <td *ngIf="user != editItem">{{user.approved|boolFormatter}}</td>
                        <td *ngIf="user != editItem">{{user.paid|boolFormatter}}</td>
                        <td *ngIf="user != editItem">{{user.paymentDate | date: 'yyyy-MM-dd'}}</td>
                        <td *ngIf="user != editItem">{{user.paymentMethod}}</td>
                        <td *ngIf="user != editItem">{{user.paymentApprovalNumber}}</td>
                        <td *ngIf="user != editItem"><button type="button" class="btn btn-sm btn-success" (click)="onEditUser(user)"><i class="bi bi-pencil"></i></button></td>


                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.fullName" class="form-control"></td>
                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.phoneNumber" class="form-control"></td>
                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.email" class="form-control">{{user.email}}</td>
                        <td *ngIf="user == editItem">{{user.regsiterationDate | date: 'yyyy-MM-dd'}}</td>
                        <td *ngIf="user == editItem">
                          <select [(ngModel)]="user.approved">
                            <option [ngValue]="false">לא</option>
                            <option [ngValue]="true">כן</option>
                          </select>
                        </td>
                        <td *ngIf="user == editItem">
                          <select [(ngModel)]="user.paid">
                            <option [ngValue]="false">לא</option>
                            <option [ngValue]="true">כן</option>
                          </select>
                        </td>
                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.paymentDate" class="form-control"></td>
                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.paymentMethod" class="form-control"></td>
                        <td *ngIf="user == editItem"><input type="text" [(ngModel)]="user.paymentApprovalNumber" class="form-control"></td>
                        <td *ngIf="user == editItem">
                          <button type="button" class="btn btn-sm btn-success me-2" (click)="onEndEditUser(user)"><i class="bi bi-check"></i></button>
                          <button type="button" class="btn btn-sm btn-danger" (click)="onCancelEditUser(user)"><i class="bi bi-x"></i></button>
                        </td>
                      </tr>
                  </tbody>
                </table>
              </div>
              <hr />
              <div class="text-center">
                <div class="alert alert-success" *ngIf="saveSuccess">הקטלוג עודכן בהצלחה!</div>
                <div class="alert alert-danger" *ngIf="saveError">אירעה שגיאה בזמן עדכון הקטלוג</div>

                <button type="button" class="btn btn-success mt-5" (click)="onSubmit()">
                  <span class="bi bi-save"></span>&nbsp;שמירת שינויים
                  <span *ngIf="saving" class="spinner-border spinner-border-sm"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
