<!-- Masthead-->
<header class="gallery-masthead">
  <div class="container px-4 px-lg-5 h-100">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h2 class="text-warning font-weight-bold">שוק האוכל של אורן וקובי</h2>
        <h1 class="text-white font-weight-bold">ספר המתכונים שלנו</h1>
        <hr class="divider" />
        <nav class="navbar navbar-expand navbar-light bg-light mb-3">
          <div class="container-fluid">
            <span class="navbar-brand" href="#">קטגוריות</span>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item" *ngFor="let cat of categories">
                  <a class="btn btn-link btn-light" [routerLink]="['/recipes', 'list']" [queryParams]="{ category: cat.id}" [ngClass]="{active: selectedCategory===cat.id}">{{cat.name}}</a>
                </li>
                <a class="btn btn-link btn-light btn-xs mt-2" [routerLink]="['/recipes', 'list']">הצג הכל</a>
              </ul>
            </div>
          </div>
        </nav>
        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3">
          <div class="col mb-3" *ngFor="let recipe of filteredRecipes">
            <div class="card">
              <img [src]="recipe.image" class="card-img-top"
                [alt]="recipe.recipe_name" />
              <div class="card-body">
                <h5 class="card-title">{{recipe.recipe_name}}</h5>
                <p class="card-text">{{recipe.description}}</p>
                <a [routerLink]="['/recipes/view/', recipe.id]" class="btn btn-primary"  (click)="onViewRecipeClick(recipe)">למתכון המלא</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
