<!-- Masthead-->
<section class="page-section bg-dark">
  <div class="container px-4 px-lg-5 h-100" *ngIf="data !=undefined">
    <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
      <div class="col-lg-8 align-self-end">
        <h2 class="text-warning font-weight-bold">שוק האוכל של אורן וקובי</h2>
        <h1 class="text-white font-weight-bold">{{data.name}}</h1>
        <hr class="divider" />
      </div>
      <div class="col-lg-8 align-self-baseline">
        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <button class="nav-link" (click)="viewMode='registration'"
                  [ngClass]="{'active': viewMode==='registration'}">מועדים והרשמה</button>
              </li>
              <li class="nav-item">
                <button class="nav-link" (click)="viewMode='details'"
                  [ngClass]="{'active': viewMode==='details'}">פרטים</button>
              </li>
            </ul>
          </div>
          <div class="card-body" *ngIf="viewMode=='details'" [innerHTML]="data.longDescription">
          </div>

          <div class="card-body" *ngIf="viewMode=='registration'">
            <div *ngIf="loadingData">
              <h1 class="animate-flicker">...</h1>
            </div>
            <div *ngIf="slots!=undefined">
              <p *ngIf="slots.length == 0">לא נמצאו מועדים פנויים לסדנא זו.</p>
              <table class="table table-bordered" *ngIf="slots.length >0">
                <tbody>
                  <ng-template ngFor let-ws [ngForOf]="slots">
                    <tr class="table-active">
                      <td>
                        <span class="fw-bold float-start"><i class="mx-2 bi bi-calendar3"></i>{{ws.workshopDate | date :
                          'EEEE, dd MMM YYYY'}}</span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <span class="fw-bold float-start">{{ws.workshopDate | date : 'HH:mm'}}</span>
                        <span>{{data.name}}, {{data.location}}, {{data.duration}} שעות, {{displayAvailableSlots(ws.slot.availableSlots)}}
                          מקומות פנויים</span>
                        <span class="fw-bold float-end" *ngIf="ws.slot.availableSlots > 0"><button
                            class="btn btn-sm btn-success" (click)="startRegistration(ws)">הרשמה</button></span>
                        <span class="fw-bold float-end" *ngIf="ws.slot.availableSlots == 0"><button
                            class="btn btn-sm btn-secondary" disabled="true">הרשמה</button></span>
                      </td>
                    </tr>
                  </ng-template>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="registerationModal">

  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form" [formGroup]="registrationForm" (submit)="completeRegistration()">
        <div class="modal-header">
          <h5 class="modal-title">טופס הרשמה</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="selectedSlot!=undefined && data!=undefined">
          <div class="alert alert-success" *ngIf="showRegistrationSuccess">בקשתך להרשמה לסדנא התקבלה בהצלחה. ניצור איתך
            קשר להשלמת ההרשמה והסדרת התשלום</div>
          <div class="alert alert-danger" *ngIf="showRegistrationError">{{errorMessage}}</div>
          <p>על מנת להשלים את ההרשמה <span class="fw-bold">ל{{data.name}}</span>, שתיערך ב<span
              class="fw-bold">{{selectedSlot.workshopDate| date : 'EEEE, dd MMM YYYY'}}</span>, בשעה <span
              class="fw-bold">{{selectedSlot.workshopDate | date : 'HH:mm'}}</span>, אנא מלא/י את הפרטים הבאים</p>
          <div class="mb-3">
            <label for="txtFullName" class="form-label">שם מלא:</label>
            <input type="text" class="form-control" id="txtFullName" formControlName="name">
            <span class="text-danger"
              *ngIf="registrationForm.controls['name'].errors && (!registrationForm.controls['name'].pristine || registerFormSubmitted)">נא
              למלא שם מלא</span>
          </div>
          <div class="mb-3">
            <label for="txtEmail" class="form-label">דוא"ל:</label>
            <input type="email" class="form-control" id="txtEmail" formControlName="email">
            <span class="text-danger"
              *ngIf="registrationForm.controls['email'].errors && (!registrationForm.controls['email'].pristine || registerFormSubmitted)">נא
              למלא כתובת מייל</span>
          </div>
          <div class="mb-3">
            <label for="txtPhoneNumber" class="form-label">מספר טלפון:</label>
            <input type="text" class="form-control" id="txtPhoneNumber" formControlName="phoneNumber">
            <span class="text-danger"
              *ngIf="registrationForm.controls['phoneNumber'].errors && (!registrationForm.controls['phoneNumber'].pristine || registerFormSubmitted)">נא
              למלא מספר טלפון בו נוכל ליצור קשר כדי להשלים את ההרשמה</span>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" [disabled]="registering">
            <span class="spinner-border spinner-border-sm" [class.d-none]="!registering"></span>
            הרשמה
          </button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">סגירה</button>
        </div>
      </form>
    </div>
  </div>
</div>
