<section class="page-section bg-light" id="galleries">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center text-dark mt-0">תמונות מאירועים</h2>
    <hr class="divider divider-dark" />
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-12 text-center" *ngFor="let gallery of galleries$ | async">
        <div class="card mx-3 mb-3" style="width: 18rem; height:20rem">
          <img class="card-img-top" [src]="gallery.previewImage" [alt]="gallery.title">
          <div class="card-body">
            <h5 class="card-title">{{gallery.title}}</h5>

            <a href="gallery/{{gallery.name}}" class="btn btn-primary">לגלריה</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
