<section class="page-section bg-dark" id="portfolio">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col text-center">
        <h1 class="text-white font-weight-bold" *ngIf="gallery!=undefined">
          {{gallery.title}}
        </h1>        
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-10 mb-4">
        <h5>
          <a class="btn btn-light" href="/#galleries">
            <i class="bi bi-arrow-right"></i>
            חזרה לרשימת הגלריות</a>
        </h5>
        <gallery [flexBorderSize]="3"
                [flexImageSize]="7"
                [maxRowsPerPage]="100"
                [galleryName]="galleryName"
                [includeViewer]="true"
                baseImagesURL="https://orkofoomar-website.s3.eu-west-1.amazonaws.com/">
        </gallery>
      </div>
    </div>
  </div>
</section>