<section class="page-section bg-dark text-white" id="portfolio">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">סדנאות</h2>
        <hr class="divider" />
        <div class="row">
            <div class="col mb-3">
                <p class="text-white' text-center">אם חלמתם לדעת כיצד להכין פיצה מושלמת בתנור או בטאבון, הגעתם למקום הנכון</p>
                <p class="text-white text-center">הצטרפו לאחת מהסדנאות שלנו ויחד איתנו תלמדו את כל הסודות שיהפכו את הפיצה שלכם למושלמת</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-0">למה ללמוד איתנו ?</h4>
                <p class="text-white' text-center">כי בסדנא שלנו תלמדו את כל מה שדרוש על מנת להכין פיצה מושלמת משלב בחירת חומרי הגלם, הכנת הבצק ועד לסיום אפייה בטאבון</p>
                <p class="text-white' text-center">כי הסדנא היא לא רק תיאורטית אלא משלבת התנסות מעשית בכל אחד מהשלבים</p>
                <p class="text-white' text-center">כי רק בסדנא שלנו תקבלו עזרה בבחירת טאבון המתאים לצרכים שלכם ותוכלו להתנסות באפיית פיצה ב-4 סוגי טאבונים שונים</p>                
                <p class="text-white' text-center">כי הסדנא שלנו מועברת על ידי מדריך עם ידע עשיר בתורת הכנת הפיצה, ובעל ניסיון מעשי רב ולא פחות חשוב עם יכולת הדרכה מעולה</p>                                
            </div>
        </div>
        
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-0">איך לומדים ?</h4>
                <p class="text-white' text-center">הסדנא מורכבת מ-3 חלקים: תיאורטי, מעשי-הכנת בצק, מעשי-הכנת פיצה</p>
                <p class="text-white' text-center">בחלק התיאורטי נכסה את מושגי היסוד, סוגי הקמחים, אופן הכנת הבצק ונלמד כיצד לבנות מתכון לבצק</p>
                <p class="text-white' text-center">בחלק המעשי הראשון נכין יחד בצק משלב שקילת החומרים ועד שהבצק מוכן להתפחה במקרר</p>                
                <p class="text-white' text-center">בשלב המעשי השני נלמד לכדרר את הבצק לכדורים, איך לפתוח כדור בצק לפיצה, העברה ממשטח העבודה למרדה ומשם לטאבון ואיך לאפות בצורה נכונה בטאבון</p>
                <p class="text-white' text-center">כל אחד מהמשתתפים יתנסה באופן מעשי בכל אחד מהשלבים ויאפה את הפיצות באופן עצמאי בטאבון</p>
            </div>
        </div>        
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-flower1 fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">סדנא קבוצתית</h3>
                    <p class="mb-0">הסדנא מתקיימת ביוקנעם עילית, פעמיים בחודש ומוגבלת ל-12 משתתפים</p>
                    <p class="mb-3">משך הסדנא כ-4 שעות</p>                    
                    <p class="mb-3"><a class="btn btn-primary btn-xl" href="/booking/details/ws-1">מועדים והרשמה</a></p>                    
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-house fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">סדנא פרטית</h3>
                    <p class="mb-0">נגיע אליכם הביתה ונעביר לכם סדנא פרטית.</p>
                    <p class="mb-3">הסדנא אינה מוגבלת בזמן ומיועדת לעד 6 משתתפים והתוכן ניתן להתאמה</p>                              
                    <p class="mb-3"><a class="btn btn-primary btn-xl" href="#contact">לתיאום סדנא פרטית ופרטים נוספים</a></p>          
                </div>
            </div>            
        </div>        
    </div>
  </section>
