<section class="page-section bg-dark text-white" id="portfolio">
    <div class="container px-4 px-lg-5">
        <h2 class="text-center mt-0">סדנאות</h2>
        <hr class="divider" />
        <div class="row">
            <div class="col mb-3">
                <p class="text-white' text-center">אם חלמתם לדעת כיצד להכין פיצה מושלמת בתנור או בטאבון, הגעתם למקום הנכון</p>
                <p class="text-white text-center">הצטרפו לאחת מהסדנאות שלנו ויחד איתנו תלמדו את כל מה שצריך</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-0">מה לומדים</h4>
                <p class="text-white' text-center">מושגי יסוד חשובים</p>
                <p class="text-white' text-center">ציוד מומלץ</p>
                <p class="text-white' text-center">סוגי קמחים, ההבדלים ביניהם ומתי נשתמש בכל אחד</p>
                <p class="text-white' text-center">הכנת הבצק שלב אחרי שלב</p>
                <p class="text-white' text-center">הכנת רוטב קלאסי לפיצה</p>
                <p class="text-white' text-center">הכנת הפיצה משלב חילוץ הבצק מארגז התפחה, פתיחת הבצק ועד להוצאה מהטאבון, כולל החלק המפחיד ביותר – העברת הפיצה משולחן העבודה למרדה ומשם לטאבון
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-0">איך לומדים</h4>
                <p class="text-white' text-center">הסדנא מורכבת מ-2 חלקים: תיאורטי, מעשי</p>
                <p class="text-white' text-center">בחלק התיאורטי נכסה את מושגי היסוד, סוגי הקמחים, אופן הכנת הבצק ונלמד כיצד לבנות מתכון לבצק</p>
                <p class="text-white' text-center">בשלב המעשי נכין יחד בצק שלב אחרי שלב עד שלב ההתפחה, נלמד לכדרר את הבצק לכדורים, איך לפתוח כדור בצק לפיצה, העברה ממשטח העבודה למרדה ומשם לטאבון ואיך לאפות בצורה נכונה בטאבון</p>
                <p class="text-white' text-center">כל אחד מהמשתתפים יתנסה באופן מעשי בכל אחד מהשלבים ויאפה את הפיצות באופן עצמאי בטאבון</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h4 class="text-center mt-0">מה נכין</h4>
                <p class="text-white' text-center">פוקאצ'ה</p>
                <p class="text-white' text-center">פאנוצו </p>
                <p class="text-white' text-center">חצ'אפורי</p>
                <p class="text-white' text-center">קלצונה במילוי גבינות מלוחות וכל טוב</p>
                <p class="text-white' text-center"> סוגי פיצות (מרגריטה, פולנטה, פסטו)</p>

            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-house fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">סדנא פרטית</h3>
                    <p class="mb-0">נגיע אליכם הביתה ונעביר לכם סדנא פרטית.</p>
                    <p class="mb-0">את התוכן נתאים לצרכים שלכם ובמהלך הסדנא נשתמש בציוד שיש לכם בבית כך שתוכלו לאחר הסדנא להגיע לתוצאות מושלמות בכל פעם.</p>
                    <p class="mb-3">הסדנא אינה מוגבלת בזמן ומיועדת לעד 4 משתתפים</p>                    
                </div>
            </div>
            <div class="col-md-6 text-center">
                <div class="mt-5">
                    <div class="mb-2"><i class="bi-flower1 fs-1 text-primary"></i></div>
                    <h3 class="h4 mb-2">סדנא קבוצתית</h3>
                    <p class="mb-0">הצטרפו אלינו לסדנא שתלמד אתכם את כל שלבי הכנת הפיצה המושלמת שלב אחרי שלב</p>
                    <p class="mb-0">הסדנא משלבת חלק תיאורטי וחלק מעשי בו תוכלו להתנסות בעצמכם בהכנת פיצה</p>
                    <p class="mb-0">הסדנא מוגבלת לעד 12 אנשים</p>
                    <p class="mb-3">הסדנאות מתקיימות ביוקנעם עילית אחת לחודש ביום חמישי בערב או שישי בוקר ונמשכות כ-4 שעות</p>                    
                </div>
            </div>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-md-6 text-center">
                <p><a class="btn btn-primary btn-xl" href="#contact">לתיאום סדנא פרטית ופרטים נוספים</a></p>
            </div>
            <div class="col-md-6 text-center">
                <p><a class="btn btn-primary btn-xl" href="booking/">מועדים והרשמה</a></p>
            </div>
        </div>
    </div>
  </section>
