<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
  <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#page-top" class="logo"><img src="assets/img/logo.jpg"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ms-auto my-2 my-lg-0">
              <li class="nav-item"><a class="nav-link" href="#about">אודות</a></li>
              <li class="nav-item"><a class="nav-link" href="#services">אירועים</a></li>
              <li class="nav-item"><a class="nav-link" href="#portfolio">סדנאות</a></li>
              <li class="nav-item"><a class="nav-link" href="#galleries">תמונות מאירועים</a></li>
              <li class="nav-item"><a class="nav-link" href="#feedbacks">לקוחות מפרגנים</a></li>
              <li class="nav-item"><a class="nav-link" href="#contact">יצירת קשר</a></li>
              <li class="nav-item">
                <div class="icon-bar">
                  <a href="https://www.facebook.com/oren.koby.food.market" target="_blank" class="facebook edge-right"><i class="bi bi-facebook"></i></a>
                  <a href="https://wa.me/972543899313" target="_blank" class="whatsapp"><i class="bi bi-whatsapp"></i></a>
                  <a href="#" class="instagram edge-left"><i class="bi bi-instagram"></i></a>
                </div>
              </li>
          </ul>
      </div>

  </div>
</nav>

<router-outlet></router-outlet>

<!-- Footer-->
<footer class="bg-light py-5">
  <div class="container px-4 px-lg-5"><div class="small text-center text-muted">כל הזכויות שמורות &copy; 2022 - שוק האוכל של אורן וקובי</div></div>
</footer>
