<section class="page-section bg-dark" id="portfolio">
    <div class="container px-4 px-lg-5">
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-header bg-primary">
              <h2 class="text-white font-weight-bold">ניהול מערכת</h2>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                  <a class="list-group-item list-group-item-action" href="admin/ingredients-catalog">ניהול קטלוג רכיבים</a>
                  <a class="list-group-item list-group-item-action"  href="admin/menu-items">ניהול קטלוג מנות</a>
                  <a class="list-group-item list-group-item-action"  href="admin/menu-builder">בניית תפריט לאירוע</a>
                </ul>
            </div>
          </div>
        </div>
      </div>
      </div>
  </section>