
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 h-100">
      <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
          <div class="col-lg-8 align-self-end">
            <h2 class="text-warning font-weight-bold">שוק האוכל של אורן וקובי</h2>
              <h1 class="text-white font-weight-bold">חווית אוכל מבוסס טאבון</h1>
              <hr class="divider" />
          </div>
          <div class="col-lg-8 align-self-baseline">
              <p class="text-white-75 mb-5">
                  מגוון אירועים של אוכל מבוסס טאבון, חוויה קולינרית מטריפת חושים וסדנאות פיצה בטאבון
              </p>
              <a class="btn btn-primary btn-xl" href="#about">ספרו לי עוד !</a>
          </div>
      </div>
  </div>
</header>

<!-- About-->
<about-us></about-us>

<!-- Services-->
<events></events>

<!-- Portfolio-->
<portfolio></portfolio>

<!--Image galeries-->
<app-galleries-list></app-galleries-list>

<!-- Contact-->
<contact-form></contact-form>
