<!-- Clients Feedback-->
<section class="page-section bg-dark text-white" id="feedbacks">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mt-0 mb-3">לקוחות מפרגנים</h2>
    <p class="text-center text-muted" >הנה ממש אבל ממש קצת משלל הפירגונים שאנחנו מקבלים</p>
    <gallery [flexBorderSize]="15"
             [flexImageSize]="6"
             [maxRowsPerPage]="100"
             [galleryName]="'feedbacks'"
      [includeViewer]="true" baseImagesURL="https://orkofoomar-website.s3.eu-west-1.amazonaws.com/">
    </gallery>
  </div>
</section>
